.userpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0% 30%;
   
    h3{
        text-align: center;
    }
    
    .buttons{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        button{
        border: solid #f50025 0.1rem;
        color: #f50025;
        padding: 0.4rem 2rem;
        background-color: #ffffff;
        margin: 2rem 1rem;
        } 
    }

    
}