.home{
    display: flex;
    flex-direction: row;
    height: auto;

    .home__menu{
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;

        .home__title{
            font-size: 2rem;
            color: #0012b3;
        }

        .home__buttons{
            display: flex;
            flex-direction: column;
            justify-content: center;

           button{
            font-family: 'Teko', sans-serif;
            font-size: 1.8rem;
            font-weight: 500;
            border: solid #f50025 0.2rem;
            border-radius: 0.4rem;
            color: #f50025;
            padding: 0.4rem 4rem;
            background-color: #ffffff;
            margin: 2rem 2rem;
        } 
        }
        
    }

    .home__logo{
        display: none;
        flex: 1;
    }
}