.players{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;

    h2{
        text-align: center;
        font-size: 2rem;
        color: #0012b3;
    }

    &__page{
        display: flex;
        justify-content: center;
        align-items: baseline;
        
    }

    &__search{
        width: 80%;
        height: 2rem;
        text-align: center;
        border: 0.16rem solid #f50025;
        border-radius: 0.4rem;
        font-family: 'Teko', sans-serif;
        font-size: 1.4rem;
    }

    &__content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }

    &__card{
        width: 80%;
        display: flex;
        align-items: center;
        margin-top: 2rem;
        border: solid #f50025 0.16rem;
        border-radius: 0.4rem;
        p{
            margin: 0.1rem;
        }
    }

    &__icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        padding: 1rem 0rem 1rem 1rem;
        text-align: center;

        h4{
            font-size: 1.1rem;
        }
    }
    
    &__description{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 2;
        padding: 1rem 0rem;
    }

    &__info{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        font-size: 1.2re;
    }

    &__details{
        width: 8rem;
        padding: 0.2rem 2rem;
        margin: 0.4rem;
        background-color: #f50025;
        border-radius: 0.2rem;
        color: #ffffff;
        border: none;
        font-family: 'Teko', sans-serif;
        font-size: 1.2rem;
    }

    &__button{
        background-color: #ffffff;
        border: solid #f50025 0.1rem;
        color: #f50025;
        padding: 0.2rem 0.7rem;
        margin: 0.2rem 0.4rem;
        border-radius: 0.2rem;
        font-family: 'Teko', sans-serif;
        font-size: 1.2rem;
    }

    
    
}
    