
@media only screen and (max-width: 480px) {
    .navbar{
        display: flex;
        align-items: flex-start;
        align-content: space-between;
        width: 100%;
        

        .navbar__menu{
            display: flex;
            flex: 1;
            padding: 2rem;
        }

        .navbar__logo{
            display: flex;
            flex: 2;
            justify-content: center;
            height: 8rem;
            padding-top: 1rem;
            
            img{
                height: 8rem;
            }
            
        }
        
        .navbar__login{
            display: flex;
            flex: 1;
            justify-content: flex-end;
            color: #f50025;
            padding: 2rem;
            
        }

    }
}
/* .navbar{
    display: flex;
    margin: 2rem ;

    .navbar__menu{
        display: flex;
        flex: 1;
        align-items: center;
        padding: 0rem 1rem;

        .navbar__displayMenu{
            width: 20%;
            display: flex;
            flex-direction: column;

            .navbar__icon{
                width: 1.8rem;
            }

            button{
                border: none;
                border-bottom: solid #f50025 0.1rem;
                background-color: #ffffff;

            }
        }
    }

    .navbar__logo{
        flex: 1;
        img{
            width: 20%;
            padding: 0% 10%;
        }
    }

    .navbar__user{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .navbar__button{
            padding: 0.4rem 2rem;
            margin: 0.4rem;
            border: none;
            background-color: #ffffff;
            
        }

        .navbar__login{
            padding: 0.4rem 2rem;
            margin: 0.4rem;
            border: none;
            background-color: #ffffff;
            border: solid #f50025 0.1rem;
            color: #f50025;
        }
    }
} */