.player{
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        text-align: center;
        font-size: 2rem;
        color: #0012b3;
    }

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding-bottom: 2rem;
    }

    &__icon{
        display: flex;
        flex: 1;
    }

    &__data{
        display: flex;
        flex-direction: column;
        flex: 2;
    }

    &__logo{
        padding-right: 2rem;
    }

    h5{
        font-size: 1.2rem;
        margin: 0.4rem;
    }
}

.btn{
        background-color: #ffffff;
        border: solid #f50025 0.2rem;
        border-radius: 0.4rem;
        color: #f50025;
        padding: 0.4rem 1.2rem;
        margin: 0.4rem;
        font-family: 'Teko', sans-serif;
        font-size: 1.2rem;
    }