.group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10%;
    justify-content: center;
    align-items: center;

    &__content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__card{
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0.4rem;
        margin: 2rem 0.8rem;
        border: solid #f50025 0.1rem;

        p{
            margin: 0.2rem;
        }
    }

    &__img{
        width: 150px;
        height: 150%;

        img{
            width: 100%;
            object-fit: cover;
        }
    }

    &__details{
        background-color: #ffffff;
        border: solid #f50025 0.1rem;
        color: #f50025;
        padding: 0.4rem 0.6rem;
        margin: 0.4rem;
    }

    &__btn{
        background-color: #ffffff;
        border: solid #f50025 0.1rem;
        color: #f50025;
        padding: 0.4rem 0.6rem;
        margin: 0.4rem;
    }

}
