.teams {
  display: flex;

  h2 {
    text-align: center;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__card {
    display: flex;
    align-items: center;
    padding: 1rem 0.4rem;
    margin: 2rem 0.8rem;
    border: solid #f50025 0.1rem;

    p {
      margin: 0.2rem;
    }
  }

  &__img {
    width: 150px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__btn {
    text-align: center;
  }

  &__details {
    width: 8rem;
    padding: 0.4rem 2rem;
    margin: 0.4rem;
    background-color: #f50025;
    color: #ffffff;
    border: none;
  }

  &__button {
    background-color: #ffffff;
    border: solid #f50025 0.1rem;
    color: #f50025;
    padding: 0.4rem 0.6rem;
    margin: 0.4rem;
  }
}
