.footer{
    display: flex;
    margin: 2rem 1rem;
    position: -webkit-sticky;;
    bottom: 0;
    width: -webkit-fill-available;   

    .footer__owner{
        flex: 1;
        align-items: flex-end;
        font-size: 1.4rem;
    }

    .footer__socialmedia{
        display: flex;
        align-items: center;

        .footer__icon{
            padding: 0rem 1rem;
        }
    }
}