/* 1. Posicionamiento
2. Modelo Caja
3. Tipografía
4. Visuales
5. Otros */

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

/* Variables */
  /* Colors */
  $tdf-red: #f50025;
  $tdf-blue: #0012b3;
  $tdf-grey: #ededed;
  $white: #ffffff;
  $black: #000000;
  /* Typography */
  $tdf-font: 'Teko', sans-serif;

body{
  font-family: $tdf-font;
}

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
