.groups{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;

    h2{
        text-align: center;
        font-size: 2rem;
        color: #0012b3;
    }

    h3{
        text-align: center;
        font-size: 1.4rem;
    }

    &__container{
        display: flex;
        flex-direction: column;
    }

    &__grupos__map{
        display: flex;
        flex: 1;
    }

    &__content{
        display: flex;
        flex: 1;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__card{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0rem;
        margin: 1rem 0.8rem;
        border: solid #f50025 0.2rem;
        border-radius: 0.4rem;
        p{
            margin: 0.2rem;
            font-size: 1.2rem;
            text-align: center;
        }
    }

    &__details{
        width: 8rem;
        padding: 0.4rem 2rem;
        margin: 0.4rem;
        background-color: #f50025;
        color: #ffffff;
        border: none;
    }

    &__button{
        background-color: #ffffff;
        border: solid #f50025 0.14rem;
        color: #f50025;
        padding: 0.2rem 0.4rem;
        margin: 0.2rem 0.4rem;
        border-radius: 0.2rem;
        font-family: 'Teko', sans-serif;
        font-size: 1.2rem;
    }
}
    